<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/janetmohler">Janet Mohler</a>. An aspiring web developer and student at <a target="_blank" href="http://www.thefirehoseproject.com/">The Firehose Project</a>.
  </p>

  <br />

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'janet.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Janet Mohler</h2>
    <br />
    <p>
      Janet is a native to Seattle and graduated from the University of Washington with a degree in business. She has a background in network administration and owning a small business. When she's not nerding it out, she enjoys spending time outdoors with her kids and husband. She's a fat girl at heart and constantly fantasizes about food.  
    </p>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />